.container {
  grid-area: m;
  padding: 15px;
  margin: 25px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-blue);
  border-radius: 8px;
  display: grid;
  grid-template: repeat(4, 40px) repeat(4, 1fr) repeat(2, 40px)/ repeat(3, 1fr);
  gap: 15px;
  min-width: 175px;
  align-content: start;
  max-height: calc(100vh - 190px);
}

.button {
  color: var(--white-text);
  background-color: var(--secondary-blue);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  grid-row: -2/-1;
}

.button:hover {
  background-color: var(--primary-white);
  color: var(--secondary-blue);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.item {
  /* max-height: 50px; */
  /* border-bottom: 1px solid var(--white-text); */
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  color: var(--white-text);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 5px 8px;
  max-height: 45px;

}

.item > svg {
  flex-shrink: 0;
}

.item:hover {
  background-color: var(--secondary-blue);
  color: var(--primary-white);
}

.selected {
  background-color: var(--white-text);
  color: var(--primary-blue);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.contactTitle {
  grid-row: -3/-2;
  grid-column: 1/-1;
  margin: 0;
  color: white;
  text-transform: uppercase;
  align-self: flex-end;
}

@media only screen and (max-width: 590px) {
  .container {
    grid-template: 1fr / repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    height: fit-content;
  }
  .container > * {
    grid-row: auto;
    grid-column: auto;
  }
  .item { 
    max-height: 32px;
  }
  .button {
    display: none;
  }
  .contactTitle {
    display: none;
  }
}
