.container {
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.buttonBlue {
  border-radius: 10px;
  border: none;
  color: var(--white-text);
  background-color: var(--primary-blue);
  padding: 8px;
}

.buttonRed {
  border-radius: 10px;
  border: none;
  color: var(--white-text);
  background-color: var(--primary-red);
}

.field {
  outline: none;
  padding-left: 8px;
  border: 1px solid var(--primary-blue);
  margin-left: 10px;
  border-radius: 8px;
}

@media only screen and (max-width: 800px) {
  .container {
    font-size: 14px;
  }
}
