.container {
  grid-area: f;
  background-color: var(--primary-blue);
  display: grid;
  place-items: center;
  color: var(--white-text);
  font-weight: 700;
}

.container a {
  color: var(--primary-red);
}
